*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 2%;
    text-align: center;
    font-size: xxx-large;
}

input{
    text-align: center;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
    font-size: x-large;
}

button{
    height: 40px;
    width: 50px;
    font-size: x-large;
    border-radius: 1rem;
}

button:hover{
    background-color: aliceblue;
}

select{
    text-align: center;
    border: 2px solid black;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
    font-size: x-large;
}

#inputBlock{
    margin: 5%;
    text-align: center;
}

#apimage{
    margin: 2%;
    text-align: center;
}

#img{
    height: 500px;
    min-width: 400px;
    border-radius: 1rem;
    border: 2px solid black;
}

#uOutputBlock{
    display: grid;
    grid-row: 3;
}